* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* Import high contrast colour to logo and text. Also adding text shadow to all content*/

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #00ff37;
    color: #0026fd;
    font-size: 70px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #c7ca0b,
               1px 2px 0px #c7ca0b,
               1px 3px 0px #c7ca0b,
               1px 4px 0px #c7ca0b,
               1px 5px 0px #c7ca0b,
               1px 6px 0px #c7ca0b,
               1px 10px 5px rgba(16, 16, 16, 0.5),
               1px 15px 10px rgba(16, 16, 16, 0.4),
               1px 20px 30px rgba(16, 16, 16, 0.3),
               1px 25px 50px rgba(16, 16, 16, 0.2);
    
    
}

.header h1 {
    font-size: 70px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: #7c13e4;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #0026fd,
               1px 2px 0px #0026fd,
               1px 3px 0px #0026fd,
               1px 4px 0px #0026fd,
               1px 5px 0px #0026fd,
               1px 6px 0px #0026fd,
               1px 10px 5px rgba(16, 16, 16, 0.5),
               1px 15px 10px rgba(16, 16, 16, 0.4),
               1px 20px 30px rgba(16, 16, 16, 0.3),
               1px 25px 50px rgba(16, 16, 16, 0.2);
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #ff00aa;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #0026fd;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #00ff37;
}

.benefit-lead {
    
    margin-bottom: 32px;
    color: #0026fd;
    text-shadow: 1px 1px 0px #c7ca0b,
               1px 2px 0px #c7ca0b,
               1px 3px 0px #c7ca0b,
               1px 4px 0px #c7ca0b,
               1px 5px 0px #c7ca0b,
               1px 6px 0px #c7ca0b,
               1px 10px 5px rgba(16, 16, 16, 0.5),
               1px 15px 10px rgba(16, 16, 16, 0.4),
               1px 20px 30px rgba(16, 16, 16, 0.3),
               1px 25px 50px rgba(16, 16, 16, 0.2);
}

.benefit-brand {
    margin-bottom: 32px;
    color: #0026fd;
    text-shadow: 1px 1px 0px #c7ca0b,
               1px 2px 0px #c7ca0b,
               1px 3px 0px #c7ca0b,
               1px 4px 0px #c7ca0b,
               1px 5px 0px #c7ca0b,
               1px 6px 0px #c7ca0b,
               1px 10px 5px rgba(16, 16, 16, 0.5),
               1px 15px 10px rgba(16, 16, 16, 0.4),
               1px 20px 30px rgba(16, 16, 16, 0.3),
               1px 25px 50px rgba(16, 16, 16, 0.2);
}

.benefit-cost {
    margin-bottom: 32px;
    color: #0026fd;
    text-shadow: 1px 1px 0px #c7ca0b,
               1px 2px 0px #c7ca0b,
               1px 3px 0px #c7ca0b,
               1px 4px 0px #c7ca0b,
               1px 5px 0px #c7ca0b,
               1px 6px 0px #c7ca0b,
               1px 10px 5px rgba(16, 16, 16, 0.5),
               1px 15px 10px rgba(16, 16, 16, 0.4),
               1px 20px 30px rgba(16, 16, 16, 0.3),
               1px 25px 50px rgba(16, 16, 16, 0.2);
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #00ff37;
    color: #0026fd;
    text-shadow: 1px 1px 0px #c7ca0b,
               1px 2px 0px #c7ca0b,
               1px 3px 0px #c7ca0b,
               1px 4px 0px #c7ca0b,
               1px 5px 0px #c7ca0b,
               1px 6px 0px #c7ca0b,
               1px 10px 5px rgba(16, 16, 16, 0.5),
               1px 15px 10px rgba(16, 16, 16, 0.4),
               1px 20px 30px rgba(16, 16, 16, 0.3),
               1px 25px 50px rgba(16, 16, 16, 0.2);
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #00ff37;
    color: #0026fd;
    text-shadow: 1px 1px 0px #c7ca0b,
               1px 2px 0px #c7ca0b,
               1px 3px 0px #c7ca0b,
               1px 4px 0px #c7ca0b,
               1px 5px 0px #c7ca0b,
               1px 6px 0px #c7ca0b,
               1px 10px 5px rgba(16, 16, 16, 0.5),
               1px 15px 10px rgba(16, 16, 16, 0.4),
               1px 20px 30px rgba(16, 16, 16, 0.3),
               1px 25px 50px rgba(16, 16, 16, 0.2);
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #00ff37;
    color: #0026fd;
    text-shadow: 1px 1px 0px #c7ca0b,
               1px 2px 0px #c7ca0b,
               1px 3px 0px #c7ca0b,
               1px 4px 0px #c7ca0b,
               1px 5px 0px #c7ca0b,
               1px 6px 0px #c7ca0b,
               1px 10px 5px rgba(16, 16, 16, 0.5),
               1px 15px 10px rgba(16, 16, 16, 0.4),
               1px 20px 30px rgba(16, 16, 16, 0.3),
               1px 25px 50px rgba(16, 16, 16, 0.2);
}

.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
